<%- include('partials/header', { title: 'Indian Heritage' }) %>

<head>
  <link rel="stylesheet" href="/css/cuisines.css" />
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="stylesheet" href="/css/hero-section.css" />
  <link rel="stylesheet" href="/css/global.css" />
</head>
<body>
  <section class="demo-shop">
    <h2>Indian Cuisines </h2>
    <div class="food-display">
      <div class="food-item">
        <img
          src="/images/Butter-Chicken-cuisines.jpg"
          alt="Butter Chicken"
          class="food-image"
        />
        <h3>Butter Chicken</h3>
        <p>A rich and creamy tomato-based curry with tender chicken pieces.</p>
        
      </div>
      <div class="food-item">
        <img
          src="/images/paneer-tikka.jpg"
          alt="Paneer Tikka"
          class="food-image"
        />
        <h3>Paneer Tikka</h3>
        <p>Grilled marinated paneer cubes served with mint chutney.</p>
        </div>
      <div class="food-item">
        <img
        src="/images/biriyani.jpg"
          alt="Biryani"
          class="food-image"
        />
        <h3>Biryani</h3>
        <p>
          Aromatic rice dish cooked with spices and marinated meat or
          vegetables.
        </p>
          </div>
      <div class="food-item">
        <img
          src="/images/samosa.jpg"
          alt="Samosa"
          class="food-image"
        />
        <h3>Samosa</h3>
        <p>Deep-fried pastry filled with spiced potatoes and peas.</p>
          </div>
    </div>

    
  </section>
</body>

<%- include('partials/footer') %>
