/* hero-section.css */
.hero-section {
    width: 100%;
    height: 60vh;  /* Adjust height for better visibility */
    background: url('/images/namaste-india-hero.jpg') no-repeat center center/cover;  /* Selective Yellow */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F3E9D8;  /* Antique white for text */
    text-align: center;
    padding: 20px;  /* Add padding for spacing */
}
.hero-content h2 {
    font-size: 3rem;  /* Change this value to make it larger */
    margin-bottom: 10px;
}

.hero-content p {
    font-size: 1.2rem;
    color: #F3E9D8;  /* Antique white for paragraph text */
}


